[user]
	email = 60445095+Spamakin@users.noreply.github.com
	name = spamakin
	signingkey = F7494F52562C986B
[credential]
  helper = store

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[commit]
	gpgsign = true
